#!/usr/bin/env bash

VERSION={{device_os_version}}

# go to shared directory
mkdir -p /varant/git
cd /vagrant/git

if [ ! - d device-os ]; then
  git clone https://github.com/particle-iot/device-os.git
else
  echo Directroy already exists. not cloning
fi

cd device-os

# ensure that we are on the correct branch
git checkout release/{{ device_os_version }}

# update/fetch submodule
git submodule update --init
git submodule update --remote

# build boron
# ```
# cd modules
# make all PLATFORM=boron WARNINGS_AS_ERRORS=n
# ```
# and that fails with
# `arm-none-eabi-objcopy: error: the input file '../../../build/target/system-part1/platform-13-m/system-part1.elf' is empty`
#
# but it tells us that the tools are working and installed properly.
